#daniel {
  width: clamp(50px, 50px + 5vw, 300px);
  animation: heartbeat 1.5s ease-in-out infinite both;
  transition: all 0.3s ease;
  filter: drop-shadow(5px 5px 5px #222);
}

.form-item p {
  font-size: small;
}

#logo {
  margin: 50px;
}

div#form {
  position: absolute;
  width: clamp(300px, 1px + 40svw, 1000px);
  height: clamp(400px, 1px + 40svw, 1000px);
  height: auto;
  background-color: var(--main-text-color);
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  box-shadow: 5px 5px 10px #0f0f0f,
    -5px -5px 10px #3d3d3d;
}

div.form-item {
  position: relative;
  display: block;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.formLabel {
  pointer-events: none;
  z-index: 0;
  transition: all 0.3s ease;
}

.form-style {
  color: var(--main-text-color);
  display: block;
  height: 50px;
  border: none;
  border-radius: 27px;
  background-color: #fff;
  font-size: 105%;
  letter-spacing: .8px;
  width: 100%;
  box-shadow:  5px 5px 10px #8e8d8d,
             -5px -5px 10px #c0bfbf;
}

input.form-style {
  padding-left: 20px;
  margin-top: 30px;
}

input:focus {
  outline: 1px solid #000;
  box-sizing: border-box;
}

p.formLabel {
  position: absolute;
  margin: 10px;
  padding: 5px;
  margin-left: 20px;
  box-sizing: border-box;
}

/*---------------button---------------*/
.button {
  color: #000;
  float: right;
  padding: 10px 25px;
  font-weight: 300;
  background: #000;
  cursor: pointer;
  margin: 30px;
  font-size: small;
  color: #fff;
  border-radius: 27px;
}

.button:hover {
  color: #000;
  background-color: #fff;
  animation: jello-horizontal 0.9s both;
  transition: all 0.3s ease;

}

/*---------------end button---------------*/


h6 {
  margin-top: 20px;
  font-size: xx-small;
  color: #124561;
  text-decoration: none;
}

h1 {
  color: var(--main-bg-color);
}


.form-item:focus-within .formLabel {
  top: -50%;
  font-size: 80%;
  background-color: var(--main-text-color);
  color: #000;
  outline: none;
  border: 1px solid var(--main-bg-color);
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}

.input-focus .formLabel,
.form-style:not(:placeholder-shown)+.formLabel {
  top: -50%;
  font-size: 80%;
  background-color: var(--main-text-color);
  border-radius: 10px;
  color: #000;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}

#form .form-style::placeholder {
  color: transparent;
}


/*------------------register form------------------*/
#registrationForm {
  position: absolute;
  display: flex;
  align-items: center;
  width: clamp(300px, 1px + 35svw, 1000px);
  height: clamp(400px, 1px + 35svw, 1000px);
  margin: auto;
  height: auto;
  justify-content: center;
  z-index: 2;
  background-color: #f4f4f4;
  border-radius: 50px;
  text-align: left;
  box-shadow:  5px 5px 10px #8e8d8d,
  -5px -5px 10px #c0bfbf;
  padding: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

#registrationForm input:not(.hasCoupleId),
#registrationForm select:not(.hasCoupleId) {
  width: 100%;
  box-sizing: border-box;
}

#registrationForm input {
  margin-bottom: 15px;
  margin-top: 0;
}

#registrationForm button {
  color: #000;
  float: right;
  padding: 10px 25px;
  font-weight: 300;
  background: #000;
  cursor: pointer;
  margin: 30px;
  font-size: small;
  color: #fff;
  border-radius: 27px;
}

#registrationForm button:hover {
  color: #000;
  background-color: #fff;
  animation: jello-horizontal 0.9s both;
  transition: all 0.3s ease;
}

label {
  padding-left: 10px;
  font-family: var(--main-font);
}

#registrationForm .closeWindow {
  cursor: pointer;
}

#coupleId {
  text-transform: uppercase;
}
/*------------------end register form------------------*/