.icon {
  width: calc(var(--size)/2);
  height: calc(var(--size)/2);
  margin-left: clamp(0px, 5px + 1em, 10px);
}

h2 {
  font-size: calc(var(--font-size)*2);
}

/*dark-mode button*/
input[type="checkbox"].switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: calc(var(--size)/1.4);
	height: var(--size);
  background: #161616;
  border-radius: var(--size);
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].switch:checked {
  background: #d1d1d1;
}

input[type="checkbox"].switch:after {
  position: absolute;
  content: "";
  width: calc(var(--size)/1.4);
  height: calc(var(--size)/1.4);
  border-radius: 50%;
  background: #fff;
  -webkit-transform: scale(.7);
  transform: scale(.7);
  bottom: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].switch:checked:after {
  bottom: calc(100% - calc(var(--size)/1.4));
}
/*end dark-mode button*/


